*{
    padding: 0;
    margin:0;
}
/* .main{
    
    
} */
.picture{
    background: url("/images/hero.png");
    background-size: cover;
    background-position: center center;
}
.container{
    padding-right:9rem;
    padding-left: 9rem;
    height:100vh;
}
.navbar{
    display:flex;
    padding-top: 2.5rem;
    
}
.navbar >h3{
    font-family:"Montserrat";
    color: white;
}
.navbar > p{
    font-family:"Montserrat";
    font-size: 15px; 
    color: white;
    padding-right:2rem;
    padding-top:0.28rem;
}
.button{
    display:flex;
    /* padding: 15px; */
    background-color: #409cf1;
    border-color: #409cf1;
    border-radius: 0.4rem;
    padding-top: 0.25rem;
    padding-bottom: 0.4rem;
    padding-left: 0.6rem;
    width: 10rem;
    height: 2.5rem;
    font-size: 15px; 
    justify-content: center;
    align-items: center;
   
}
.button > p{
    font-family:"Montserrat";
    font-size: 15px; 
    color: white;
    padding-right:0.4rem;
    
}
.button > img{
    color:white;
}
.insurance{
    padding: 7.5rem 12.5rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.insurance > h3{
    font-family:"Montserrat";
    color: white;
    font-weight:800;
    font-size: 60px;
    padding-bottom: 2rem;
    padding-left: 1.5rem;
    text-align: center;
    
}
.insurance > p{
    font-family:"Montserrat";
    color: white;
    font-size: 20px;
    text-align: center;
    padding-right: 4.5rem;
    padding-left: 4.5rem;
    padding-bottom: 1.75rem;
    
}
.quote{
    background-color:transparent;
    border-color: white;
    border-radius: 2rem;
    width: 9rem;
    height: 2.5rem;
    font-family:"Montserrat";
    font-size: 15px; 
    color: white;
    /* border:none; */
}
.quote:hover{
    background-color:#409cf1;
    border-color: #409cf1;

}
.learn{
    border-radius: 2rem;
    width: 6.5rem;
    height: 2.5rem;     
    border-color:white;
    background-color:transparent;
    font-family:"Montserrat";
    font-size: 15px; 
    color: white;
    
}
.learn:hover{
    background-color:#409cf1;
    border-color: #409cf1;

}
.background{
    background-color: rgb(240, 240, 240);
    height: 12.5rem;

}
.people{
    color:#409cf1;
}
.blue{
    color:white;
}
.grid-item{
    position: absolute;
    top: 35rem;
    left: 10rem;
    width: 15rem;
    height: 9rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 3rem;    
    background-color: white;
}
.grid-item:hover{
    background-color: #409cf1;
}
.grid-item:hover p,
.grid-item:hover h3,
.grid-item:hover .people {
    color: white;
}

.h3{
    font-family:"Montserrat";
    padding-bottom: 15px;
    
}
.p{
    font-family:"Montserrat";
    font-size: 15px; 
    color: grey;
    padding-right: 2.5rem;
    /* padding-bottom: 10px; */
    
}
/* .mobile{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 9.5rem;
    padding-left: 9.5rem;
    padding-bottom: 4%;
    padding-top: 4%;
} */
.grid-item1{
    position: absolute;
    top: 35rem;
    left: 31.25rem;
    width: 15rem;
    height: 9rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 3rem;    
    background-color: white;
    
}
.grid-item1:hover{
    background-color: #409cf1;
}
.grid-item1:hover p,
.grid-item1:hover h3,
.grid-item1:hover .people {
    color: white;
}
.grid-item2{
    position: absolute;
    top: 35rem;
    left: 52.5rem;
    width: 15rem;
    height: 9rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 3rem;    
    background-color: white;
}
.grid-item2:hover{
    background-color: #409cf1;
}
.grid-item2:hover p,
.grid-item2:hover h3,
.grid-item2:hover .people {
    color: white;
}
.grid{
    display:flex;
    /* background-color: aqua; */
    gap: 2rem;
    height: 17.5rem;
    padding-right: 9rem;
    padding-left: 9.5rem;    
    /* flex-wrap:wrap; */
    justify-content: center;
    align-items: center;
    
}
.h4{
    text-align: center;
    font-family:"Montserrat";
    font-size:15px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;    
}
.grid > img{
    padding-left: 5rem;
}
.container1{
    background-color: rgb(240, 240, 240);
}
.grid-item6{
    padding-top: 4rem;
    padding-right: 9rem;
    padding-left: 9.5rem;
    padding-bottom: 3rem;    
    text-align: center;
    font-family:"Montserrat";
    

}
.grid-item6 >p{
    font-size: 15px; 
    color: grey;
    padding-right: 17.5rem;
    padding-left: 17.5rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;    

}
.grid-item6 >h2{
    padding-top: 3.5rem;
}
.flex2{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    padding-right: 9.5rem;
    padding-left: 9.5rem;
    
   
}
.grid-item7{
    text-align: center;
    background-color: white;
    height:16rem;
    padding: 2rem;
    border-radius: 0.5rem;    
}
.grid-item7 >p{
    font-family:"Montserrat";
    font-size: 15px; 
    color: grey;
    padding-top: 2rem;
    padding-bottom: 1.5rem;    
}
.orange{
    color:orange;
}
.logo{
    padding-top: 15%;
    display:flex;
    justify-content: space-between;
    gap: 4rem;
    padding-right: 9.5rem;
    padding-left: 9.5rem;    
    height:3rem;
    padding-bottom: 4%;
    
}
.vector{
    padding-right:6rem;
}
.grid-item10{
   display:flex;
   align-items: center;
    
}
.subscribe{
    background:linear-gradient(to right, #004688, #d11487);
    display:flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-inline: 7.5rem;
    padding-inline: 1.5rem;
    /* border-radius: 1rem; */
}
.subscribe>h3{
    font-family:"Montserrat";
    color: white;
    width:18rem;
    
}
.email{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}
.input{
    font-family:"Montserrat";
    font-size:12px;
    color: grey;
    width: 10rem;
    border:none;
    height: 2rem;
    padding-inline: 0.5rem;
}
.Subscribe{
    font-family:"Montserrat";
    font-size:12px;
    color: white;
    width: 5rem;
    border: 0.01rem solid;
    border-color: white;
    height: 2rem; 
    background-color: #409cf1;
    padding-inline: 0.5rem;
}
.flex-tiers{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    padding-right:11rem;
    padding-left: 11rem;
    padding-bottom: 4%;
}
.free{
    padding: 4%;
    background-color: white;
    text-align: center;
    border: 0.1rem solid #409cf1 ;
    border-radius: 0.3rem;
}
.free:hover {
    background-color: #030f36;
    margin-bottom: 3.5%;
    padding-bottom: 2.6rem;
}

.free:hover h3 {
    color: white;
    padding-top: 2rem;
}

.free:hover p,
.free:hover .check p,
.free:hover .dollars p {
    color: white;
}

.free > h3{
    font-family:"Montserrat";
    font-size: 20px;
    padding-bottom: 10%;
}
.free > p{
    font-family:"Montserrat";
    font-size: 15px;
    padding-bottom: 8%;
    color:grey;
    width: 60%;
    text-align: center;
    padding-left:20%;
}
.per-month{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    gap: 0.8rem;
    padding-bottom: 12%;
}
.per-month>h3{
    font-family:"Montserrat";
    font-size:40px;
    color:#409cf1;

}
.per{
    font-family:"Montserrat";
    font-size:15px;
    color:#409cf1;
    text-align:start;
    
}
.check{
    display:flex;
    flex-wrap:wrap;
    gap: 0.5rem; 
    padding-bottom: 8%;
}
.green{
    color: green;
    
}
.grey{
    color:grey;
}
.check>p{
    font-family:"Montserrat";
    font-size:15px;
    font-weight:500;
}
.try{
    width:100%;
    padding:  0.5rem 0.8rem;
    color: white;
    border:none;
    background-color: #409cf1;
    font-family:"Montserrat";
    font-size:15px;
    border-radius: 0.3rem;
}
.branches{
    background-color:#030f36 ;
    height: 35rem;
}
.text{
    display:flex;
    justify-content: space-between;
    padding-inline: 11rem;
    /* gap:5rem; */
    padding-top: 4rem;
    flex-wrap:wrap;
}
.world>h3{
    font-family:"Montserrat";
    font-size: 35px;
    color: white;
    padding-bottom: 2rem;
    width:80%;
   
}
.world>p{
    font-family:"Montserrat";
    font-size: 15px;
    color: white;
    padding-bottom: 2rem;
    font-weight:200px;
    width:80%;
}
.world{
  flex:1;  
}

.text>img{
    flex:1;
    transform:scale(0.75);
    width:0.1rem;
}
.form{
    display:flex;
    flex-wrap:wrap;
    padding-inline: 11rem;
    position: absolute;
    top: 203rem;
    left: 12rem;
    height: 26rem;
}
.appointment{
    padding:2rem;
    background-color: white;
    font-family:"Montserrat";
    font-size: 12px;
    font-weight:550;
    width:20rem;

   
}
.form-element{
    margin-bottom: 1.2rem;
    background-color: rgb(236, 229, 229);
    font-family:"Montserrat";
    font-size: 12px;
    width:90%;
    padding: 0.5rem 0.8rem;
    border:none;
    color:grey;
    border-radius: 0.3rem;
    margin-top:0.5rem;
}
.form-elements{
    margin-bottom: 1.2rem;
    background-color: rgb(236, 229, 229);
    font-family:"Montserrat";
    font-size: 12px;
    padding: 0.5rem 0.8rem;
    border:none;
    color:grey;
    border-radius: 0.3rem;
    margin-top:0.5rem;
    width:98%;
}
.appointment >button{
    width:98%;
    margin-top:1.3rem;
    padding: 0.5rem 0.8rem;
    border:none;
    color:white;
    background-color: #409cf1;
}
.consulting{
    display:flex;
    flex-wrap:wrap;
    padding-inline: 11rem;
    justify-content: space-between;
    align-items: end;
    height: 25rem;
    padding-bottom: 2rem;
    /* background-color: rosybrown; */
}
.agency >h3{
    font-family:"Montserrat";
    padding-bottom: 0.3rem; 
}
.agency >p{
    font-family:"Montserrat";
    font-size: 15px;
    color: grey;  
}
.consulting > button{
    padding: 0.5rem 1rem;
    border:none;
    color:white;
    background-color: #409cf1;
    border-radius: 0.3rem;
    font-family:"Montserrat";
    font-size: 14px;
} 
.contact-us{
    height: 7.5rem;
    background-color:white;
    display:flex;
    flex-wrap:wrap;
    padding-inline: 11rem;
    justify-content: space-between;
    padding-bottom: 2rem;
    padding-top: 2rem;
    
}
.contacts{
    font-family:"Montserrat";
    font-size: 15px;
    
}
.contacts >p{
    color: grey;
    padding-bottom: 0.8rem;
    font-size: 13px;
}
.call >p{
    color: grey;
    padding-bottom: 0.8rem;
    font-size: 13px; 
}
.icons{
    color:#409cf1
}
.call{
    display:flex;
    flex-wrap:wrap;
    gap: 0.5rem; 
}
.socials{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    padding-inline: 11rem;
    padding-bottom: 1rem;
    padding-top: 1rem;

}
.socials >p{
    font-family:"Montserrat";
    color: grey;
    font-size: 13px; 
    font-weight:700px;
}
.media{
    display:flex;
    /* flex-wrap:wrap; */
    gap: 0.5rem; 
}
@media (max-width:575.98px) and (max-width:991.98px){
    *{
        padding: 0;
        margin:0;
    }
    .main{
        max-width:575.98px;
        overflow:hidden;
    }

    .picture{
        background-size: cover;
        background-position: center center;
        
    }
    .container{
        padding:0;
    }
    .navbar{
        flex:start;
        padding-inline: 0.5rem;
        gap: 4rem;
        justify-content:flex-end;
        align-items: center;
        padding-bottom: 4rem;
    }
    .navbar > p{
        font-family:"Montserrat";
        font-size: 1px; 
        color: white;
        display:none;
        padding-top:0rem;
        
        /* padding-right:2rem;
        padding-top:0.28rem; */
    }
    .navbar>h3{
        font-size: 13px;
        padding-left:1rem;
        /* padding-bottom: 5rem; */
        
    }
    .button{
        transform:scale(0.7);
        padding-left:0.2rem;
        width:8rem;
        height:2rem;
        /* justify-content:space-between; */
        /* padding-right:0.1rem; */
        
    }
    .button >p{
        font-size:12px;
        padding-right:0rem;
    }
    .forward{
        display:none;
    }
    .insurance{
        padding:0;
    }
    .insurance>h3{
        font-size:28px;
        padding:0;
        margin-top:3rem;
        width:74%;
    }
    .insurance>p{
       padding-top: 2rem;
       width: 77%;
       font-size:15px;
    }
    .button{
        flex-wrap:wrap;
        flex-direction:column;
    }
    .quote{
        margin-right: 3rem;
        margin-left:4.5rem;
        margin-bottom:1.5rem;
        margin-top:2rem;
        width:8rem;
        font-size:13px;
    }
    .learn{
        margin-right: 3rem;
        margin-left:6rem;
        margin-bottom:2rem;
        width:5.5rem;
        font-size:13px;
    }
    .background{
        height:38rem;
    }
    .mobile{
        
        background-color: rgb(240, 240, 240);
     
        /* display:flex;
        flex-direction:column !important; */
    }
    .grid-item{
        left:1rem;
        width:65%;
        top:34rem;
        
    }
    .grid-item1{
        top: 47rem;
        left: 1rem;
        width:65%;
        /* padding:0; */
    }
    .grid-item2{
        top: 60rem;
        left: 1rem;
        width:65%;
        /* margin-bottom:4rem; */
    }
    .grid{
        margin-top:0.1rem;
        flex-wrap:wrap;
        padding-bottom:1.2rem;
        padding-top:2rem;
        margin-bottom: 2rem;
        height:20rem;
        /* padding-left:1rem; */
        /* padding-inline:1rem; */
    }
    .grid-item6{
        /* margin-top:10rem; */
        padding:0;
        height: 6rem;
        padding-top:8rem;
    }
    .grid-item6 >h2{
        padding-top:10rem;
        font-size:100%;
        /* margin-top:-4rem; */
    }
    .grid-item6 >p{
        padding-left:1rem;
        padding-right:1rem;
        /* padding-bottom:2.5rem; */
        font-size:13px;
    }
    .people{
        padding-right:9rem;
    }
    /* .p{
        padding-left:1rem;
    } */
    .grid-item3{
        padding-bottom:0.8rem;
    }
    .grid-item3 >p{
        font-size:13px;
        margin-left:1rem;
    }
    .grid-item4 >p{
        font-size:13px;
        margin-left:1rem;
    }
    .grid-item5 >p{
        font-size:13px;
        margin-left:1rem;
    }
    .flex2{
        flex-wrap:wrap;
        padding-left:1.5rem;
        padding-right:1.5rem;
        gap:2rem;
    }
    .flex2>p{
        font-size:14px;
    }
    .logo{
        padding-top:4rem;
        flex-wrap:wrap;
        padding-left:2rem;
        padding-right:2rem;
        gap:0.8rem;
        justify-content:center;
    }
    .vector{
        padding-right:1rem;
    }
    .subscribe{
        margin-top:10rem;
        flex-wrap:wrap;
        padding-inline:1rem;
        margin-inline:1rem;
        justify-content:start;
    }
    .subscribe>h3{
        font-size:20px;
        padding-bottom:1rem;
    }
    .email{
        justify-content:center;
        width:100%
    }
    .input{
        width:18rem;
        margin-bottom:0.2rem;
    }
    .Subscribe{
        width:18rem;
        margin-bottom:1rem;
        text-align:start;
    }
    .grid-item6> h2{
        padding-top:0rem;
        margin-top:-4rem;
    }
    .flex-tiers{
        padding-left:1rem;
        padding-right:1rem;
        gap:1rem;
        padding-bottom:2rem;
    }
    .text>img{
        display:none;
    } 
    .form>img{
        display:none;
    }
    .branches{
        flex-wrap:wrap;
        height:30rem;
        
    }
    .text{
        padding-inline:0;
        justify-content:start;
        /* flex-wrap:wrap; */
        /* flex-direction:column; */
    }
    .world{
        background-image: url("images/pingwig.png");
        background-position: center;
        background-size:contain;
        background-repeat:no-repeat;
        padding-inline:1rem;
        /* height:37rem; */
        /* opacity: 0.1; */
    }
    .world>h3{
        font-size: 22px;
        /* padding-bottom: 2rem; */
        width:65%;
        /* padding-top:2rem; */
        text-align:center;
        padding-left:2.3rem;
    }
    .world>p{
        font-size:12px;
        padding-top: 12rem;
        /* padding-bottom:5rem; */
        width:100%;
        text-align:center;
        
    }
    .form{
        padding-inline:0;
        top:330rem;
        left:0rem;
        width:100%
    }
    .form-elements{
        width:100%;

    }
    .form-elements{
        width:100%
    }
    .appointment>button{
        width:100%
    }
    .appointment>h3{
        padding-top:1rem;
    }
    .consulting{
        padding-inline:2rem;
        padding-top:30rem;
        height:10rem;
        justify-content: center;
        /* padding-top:-10rem; */
    }
    .agency >h3{
        text-align:center;
    }
    .agency>p{
        text-align:center;
        font-size:12px;
    }
    .consulting > button{
        width:100%;
        margin-bottom:1rem;
    }
    .contact-us{
        padding-inline:1.25rem;
        height:15rem;
        justify-content:center;
        gap:1rem;
    }
    .contacts{
        transform:scale(0.85);
    }
    .contacts>p{
        font-size:11px;
    }
    .socials{
        padding-inline:0.5rem;
        height:4rem;
        padding-top:0.5rem;
    }
    .socials>p{
      font-size:6px;  
      /* padding-top:1rem; */
    }
    /* .icons{
        transform:scale(0.65); 
    } */
    .media{
        gap:0.2rem;
        /* transform:scale(0.7); */
        width:2rem;
        /* padding-bottom:5rem; */
    }
}
